<div id="page">
    <h1>Feedback</h1>
    [% IF feedback %]
    <p>[% feedback %]</p>
    [% END %]
    <form method="POST">
        <input type="hidden" name="csrf_token" value="[% csrf_token %]">
        <textarea name="feedback"></textarea>
        <input type="submit" name="submit" value="Post">
    </form>

</div>
